<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bio</title>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">

</head>
<body>

    <h1>hola</h1>
    <a href="../index.html">regresar a index</a>

    <article>
        <p>UABCS:</p>
        <blockquote cite="http://www.uabcs.mx/">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. ç
                Maiores doloribus tenetur, inventore quaerat mollitia exercitationem, 
                sed quam, quos animi hic harum minima qui adipisci neque deleniti eum laborum provident obcaecati?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat enim sequi sint optio, ad cum quidem 
                porro temporibus praesentium odit nesciunt omnis delectus facilis dolore et molestiae ipsum sapiente officia.
            </p>
            <img width="200px" src="..//assets/img/tenis.png">

            <a href="..//assets/img/tenis.png" download>descargar</a>
            <!-- ctrl + k + c comentario -->

            <pre>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam placeat dolorum,
                    ut, quaerat doloremque officiis non libero aperiam repudiandae quos dolore dolores commodi
                    in iusto voluptas voluptate qui cupiditate voluptates.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto maiores, rerum quibusdam
                    nam molestias laborum tempora debitis sint sapiente iste magni delectus libero hic amet 
                    esse explicabo voluptatum omnis minus?
                    
                </p>
                <code>
                                                 a + b = ???

                                                 &lt; h1 &#128512; &gt;
                                                 
                </code>
            </pre>
    </article>

    
</body>
</html>