<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

</head>
<body>
    <h1>holi</h1>
    <a href="index.html">regresar</a>
    <br>
    <br>

    <!--<img src="descarga.jpg" width="500px" alt="Esta imagen muestra
    un mapa de la cuidad" title="Esta imagen muestra
    un mapa de la cuidad"> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560476.066076511!2d-114.37934322324008!3d29
    .369486683930994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86982969e74dd20f%3A0xcd56ff1afcbbe374!2sSonor
    a!5e0!3m2!1ses!2smx!4v1757386231853!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen=""
     loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     
    <br>
    <a href="tel:+6121548192">Telefono</a>
    <br>
    <a href="mailto:keyraochoa321@gtmail.com">Correo Electronico</a>
    <br>
    <from>
        <label class="email">
            Ingrese su correo:
        </label>
        <input type="email" name="email" id="email" value="keyrayari@uabcs.mx" readonly>
        <br>
        <label for="nombre">
            Ingrese su nombre: 
        </labe >
        <input type="text" name="lastname" id="nombre"  autofocus placeholder="nombre" minlength="5" maxlength="10" size="50" required pattern="[A-Za-z]{3}"
        title="Solo se permiten 3 letras">
        <br>
        <label for="apellido">
            Ingrese su apellido:
        </label>
        <input type="text" name="lastname" id="apellido" placeholder="apellido">
        <br>
        <label>
            Telefono:
        </label>
        <input type="number" name="telefono" id="telefono" placeholder="telefono" min="5" max="20" step="2" required>
        <br>
        <label>
            Genero:
        </label>
        <label for="mujer"> Mujer </label>
        <input type="radio" name="genero" value="Mujer" id="mujer">
        <label for="hombre"> Hombre </label>
        <input type="radio" name="genero" value="Hombre" id="hombre">
        <br>
        <label>
            Preferencias:
        </label>
        <label for="pizza"> Pizza </label>
        <input type="checkbox" name="Preferencias" value="pizza" id="pizza">
        <label for="pozole"> Pozole </label>
        <input type="checkbox" name="Preferencias" value="pozole" id="pozole">
        <br>
        <input type="submit" name="" value="Guardar">

        <br>
        <input type="button" name="" value="Hola">

        <br>

    </from>
</body>
</html>